In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [2]:
df = pd.read_csv("../Input/ensayo_8_.csv")

In [3]:
df.sample(3)

,28079004,28079008,28079011,28079016,28079017,28079018,28079024,28079027,28079035,28079036,...,28080003,28092005,28102001,28123002,28133002,28148004,28161001,28171001,28180001,28120001
36660,NaN,33.0,32.0,12.0,17.0,11.0,4.0,34.0,27.0,20.0,...,6.0,5.0,4.0,15.0,3.0,9.0,13.0,17.0,14.0,1.0
23395,40.0,46.0,52.0,21.0,19.0,15.0,2.0,14.0,29.0,21.0,...,26.0,48.0,2.0,105.0,27.0,35.0,48.0,19.0,50.0,NaN
20712,27.0,23.0,19.0,11.0,13.0,10.0,2.0,17.0,40.0,16.0,...,7.0,8.0,3.0,13.0,2.0,7.0,7.0,1.0,2.0,NaN

In [4]:
df.dtypes

28079004    float64
28079008    float64
28079011    float64
28079016    float64
28079017    float64
28079018    float64
28079024    float64
28079027    float64
28079035    float64
28079036    float64
28079038    float64
28079039    float64
28079040    float64
28079047    float64
28079048    float64
28079049    float64
28079050    float64
28079054    float64
28079055    float64
28079056    float64
28079057    float64
28079058    float64
28079059    float64
28079060    float64
28005002    float64
28006004    float64
28007004    float64
28009001    float64
28013002    float64
28014002    float64
28016001    float64
28045002    float64
28047002    float64
28049003    float64
28058004    float64
28065014    float64
28067001    float64
28074007    float64
28080003    float64
28092005    float64
28102001    float64
28123002    float64
28133002    float64
28148004    float64
28161001    float64
28171001    float64
28180001    float64
28120001    float64
dtype: object