# Primera exploración de los datos de calidad de aire

## Librerías

In [3]:
import pandas as pd
import sys
import os
import glob
sys.path.append('../src')
import cargadata as cdat
import datetime
import seaborn as sns

from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import plotly.express as px
import plotly.graph_objects as go

## Carga de archivos

In [4]:
contenido = os.listdir('../data/')
contenido

['a2020',
 'a2021',
 'c2020',
 'c2021',
 'calidad_aire_estaciones.csv',
 'calidad_aire_estaciones.json',
 'df_total.csv',
 'estaciones.csv',
 'estaciones_comu.xlsx',
 'informacion_estaciones_red_calidad_aire__ayunta.csv',
 'informacion_estaciones_red_calidad_aire__ayunta.geo',
 'meteo20__ayunta.csv',
 'meteo21_ayunta.csv',
 'spacmsuelossoiltaxonomy2000.areas_calidad_aire.json',
 'zonas_calidad_aire',
 '~$estaciones_comu.xlsx']

In [5]:
con_a2021 = os.listdir('../data/a2021')
con_a2021;

In [6]:
df_c_20 = cdat.df_from_csvs('../data/c2020')
df_c_21 = cdat.df_from_csvs('../data/c2021')
df_a_20 = cdat.df_from_csvs('../data/a2020')
df_a_21 = cdat.df_from_csvs('../data/a2020')

In [7]:
df_c_20.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
4866,28,92,5,82,28092005_82_89,2020,1,29,241.0,V,...,228.0,V,226.0,V,231.0,V,213.0,V,214.0,V

In [8]:
df_c_21.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
31025,28,65,14,82,28065014_82_89,2021,7,4,238.0,V,...,204.0,V,245.0,V,262.0,V,275.0,V,270.0,V

In [9]:
df_a_20.sample()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
14872,28,79,17,8,28079017_8_8,2020,1,22,10.0,V,...,30.0,V,28.0,V,30.0,V,25.0,V,21.0,V

In [10]:
df_a_21.sample()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
50705,28,79,59,7,28079059_7_8,2020,10,22,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V

In [11]:
columns_names = ['provincia', 'municipio', 'estacion', 'magnitud', 'punto_muestreo',
       'year', 'month', 'day', 'h01', 'v01', 'h02', 'v02', 'h03', 'v03', 'h04',
       'v04', 'h05', 'v05', 'h06', 'v06', 'h07', 'v07', 'h08', 'v08', 'h09',
       'v09', 'h10', 'v10', 'h11', 'v11', 'h12', 'v12', 'h13', 'v13', 'h14',
       'v14', 'h15', 'v15', 'h16', 'v16', 'h17', 'v17', 'h18', 'v18', 'h19',
       'v19', 'h20', 'v20', 'h21', 'v21', 'h22', 'v22', 'h23', 'v23', 'h24',
       'v24']

In [12]:
df_c_20.set_axis(columns_names, axis='columns', inplace=True)
df_c_21.set_axis(columns_names, axis='columns', inplace=True)
df_a_20.set_axis(columns_names, axis='columns', inplace=True)
df_a_21.set_axis(columns_names, axis='columns', inplace=True)

Las columnas son las mismas. puedo unir todos en uno.

In [13]:
li_total = [df_c_20, df_c_21, df_a_20, df_a_21]

In [14]:
df_total = pd.concat(li_total, axis=0, ignore_index=False)

In [15]:
df_total.head(30)

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,81,28102001_81_89,2020,1,1,1.1,V,...,0.2,V,0.3,V,0.9,V,0.7,V,0.4,V
1,28,102,1,82,28102001_82_89,2020,1,1,15.0,V,...,291.0,V,3.0,V,359.0,V,18.0,V,27.0,V
2,28,102,1,83,28102001_83_89,2020,1,1,2.7,V,...,7.3,V,6.3,V,5.3,V,4.3,V,4.2,V
3,28,102,1,86,28102001_86_89,2020,1,1,86.0,V,...,68.0,V,74.0,V,81.0,V,86.0,V,85.0,V
4,28,102,1,87,28102001_87_89,2020,1,1,946.0,V,...,944.0,V,945.0,V,945.0,V,945.0,V,944.0,V
5,28,102,1,88,28102001_88_89,2020,1,1,12.0,V,...,13.0,V,13.0,V,13.0,V,13.0,V,13.0,V
6,28,102,1,89,28102001_89_89,2020,1,1,0.0,V,...,0.0,V,0.0,V,0.0,V,0.0,V,0.0,V
7,28,120,1,81,28120001_81_89,2020,1,1,1.6,V,...,1.2,V,1.3,V,1.4,V,1.4,V,1.6,V
8,28,120,1,82,28120001_82_89,2020,1,1,39.0,V,...,189.0,V,123.0,V,87.0,V,113.0,V,45.0,V
9,28,120,1,83,28120001_83_89,2020,1,1,5.8,V,...,6.9,V,7.3,V,7.3,V,6.8,V,6.8,V
10,28,120,1,86,28120001_86_89,2020,1,1,21.0,V,...,18.0,V,11.0,V,11.0,V,10.0,V,12.0,V
11,28,120,1,87,28120001_87_89,2020,1,1,824.0,V,...,823.0,V,823.0,V,823.0,V,823.0,V,823.0,V
12,28,120,1,88,28120001_88_89,2020,1,1,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
13,28,120,1,89,28120001_89_89,2020,1,1,0.0,V,...,0.0,V,0.0,V,0.0,V,0.0,V,0.0,V
14,28,123,2,81,28123002_81_89,2020,1,1,0.8,V,...,0.2,V,0.3,V,0.5,V,0.6,V,0.6,V
15,28,123,2,82,28123002_82_89,2020,1,1,127.0,V,...,41.0,V,14.0,V,13.0,V,46.0,V,68.0,V
16,28,123,2,83,28123002_83_89,2020,1,1,3.5,V,...,6.4,V,5.4,V,4.9,V,4.4,V,3.7,V
17,28,123,2,86,28123002_86_89,2020,1,1,88.0,V,...,84.0,V,86.0,V,86.0,V,86.0,V,87.0,V
18,28,123,2,87,28123002_87_89,2020,1,1,962.0,V,...,961.0,V,961.0,V,961.0,V,961.0,V,961.0,V
19,28,123,2,88,28123002_88_89,2020,1,1,3.0,V,...,4.0,V,3.0,V,4.0,V,4.0,V,4.0,V
20,28,123,2,89,28123002_89_89,2020,1,1,0.0,V,...,0.0,V,0.0,V,0.0,V,0.0,V,0.0,V
21,28,13,2,81,28013002_81_89,2020,1,1,0.1,V,...,0.1,V,0.1,V,0.1,V,0.1,V,0.1,V
22,28,13,2,82,28013002_82_89,2020,1,1,111.0,V,...,96.0,V,121.0,V,76.0,V,84.0,V,88.0,V
23,28,13,2,83,28013002_83_89,2020,1,1,0.6,V,...,4.3,V,3.1,V,2.0,V,1.1,V,0.3,V
24,28,13,2,86,28013002_86_89,2020,1,1,84.0,V,...,74.0,V,79.0,V,81.0,V,83.0,V,83.0,V
25,28,13,2,87,28013002_87_89,2020,1,1,978.0,V,...,976.0,V,976.0,V,977.0,V,977.0,V,977.0,V
26,28,13,2,88,28013002_88_89,2020,1,1,4.0,V,...,3.0,V,4.0,V,4.0,V,4.0,V,4.0,V
27,28,13,2,89,28013002_89_89,2020,1,1,0.0,V,...,0.0,V,0.0,V,0.0,V,0.0,V,0.0,V
28,28,133,2,81,28133002_81_89,2020,1,1,0.2,V,...,0.1,V,0.1,V,0.1,V,0.1,V,0.1,V
29,28,133,2,82,28133002_82_89,2020,1,1,320.0,V,...,106.0,V,68.0,V,117.0,V,84.0,V,342.0,V

In [16]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228653 entries, 0 to 55536
Data columns (total 56 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   provincia       228653 non-null  int64
 1   municipio       228653 non-null  int64
 2   estacion        228653 non-null  int64
 3   magnitud        228653 non-null  int64
 4   punto_muestreo  228653 non-null  object
 5   year            228653 non-null  int64
 6   month           228653 non-null  int64
 7   day             228653 non-null  int64
 8   h01             228247 non-null  float64
 9   v01             228653 non-null  object
 10  h02             228244 non-null  float64
 11  v02             228653 non-null  object
 12  h03             228185 non-null  float64
 13  v03             228653 non-null  object
 14  h04             228131 non-null  float64
 15  v04             228653 non-null  object
 16  h05             228129 non-null  float64
 17  v05             228653 non-null  object
 18  h06             227968 non-null  float64
 19  v06             228653 non-null  object
 20  h07             227852 non-null  float64
 21  v07             228653 non-null  object
 22  h08             227764 non-null  float64
 23  v08             228653 non-null  object
 24  h09             227723 non-null  float64
 25  v09             228653 non-null  object
 26  h10             227715 non-null  float64
 27  v10             228653 non-null  object
 28  h11             227729 non-null  float64
 29  v11             228653 non-null  object
 30  h12             227866 non-null  float64
 31  v12             228653 non-null  object
 32  h13             228082 non-null  float64
 33  v13             228653 non-null  object
 34  h14             228253 non-null  float64
 35  v14             228653 non-null  object
 36  h15             228344 non-null  float64
 37  v15             228653 non-null  object
 38  h16             228351 non-null  float64
 39  v16             228653 non-null  object
 40  h17             228396 non-null  float64
 41  v17             228653 non-null  object
 42  h18             228420 non-null  float64
 43  v18             228653 non-null  object
 44  h19             228385 non-null  float64
 45  v19             228653 non-null  object
 46  h20             228386 non-null  float64
 47  v20             228653 non-null  object
 48  h21             228366 non-null  float64
 49  v21             228653 non-null  object
 50  h22             228319 non-null  float64
 51  v22             228653 non-null  object
 52  h23             228309 non-null  float64
 53  v23             228653 non-null  object
 54  h24             228277 non-null  float64
 55  v24             228653 non-null  object
dtypes: float64(24), int64(7), object(25)
memory usage: 99.4+ MB

In [17]:
df_total.describe()

,provincia,municipio,estacion,magnitud,year,month,day,h01,h02,h03,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
count,228653.0,228653.000000,228653.000000,228653.000000,228653.000000,228653.000000,228653.000000,228247.000000,228244.000000,228185.000000,...,228344.000000,228351.000000,228396.000000,228420.000000,228385.000000,228386.000000,228366.000000,228319.000000,228309.000000,228277.000000
mean,28.0,76.623001,18.552798,50.165036,2020.245372,6.401416,15.732241,97.037952,95.373743,94.192807,...,136.131243,126.264189,115.740279,106.825866,101.685724,100.654190,101.233422,101.312850,100.300851,98.659986
std,0.0,39.933976,20.437718,36.778340,0.430308,3.388477,8.805942,242.602083,242.294241,242.347317,...,273.976582,260.042532,249.331950,243.466076,242.237598,243.016239,243.341059,243.162553,242.780461,242.472217
min,28.0,5.000000,1.000000,1.000000,2020.000000,1.000000,1.000000,-11.700000,-12.000000,-12.400000,...,-7.700000,-7.600000,-7.800000,-8.600000,-9.700000,-9.500000,-9.900000,-10.100000,-10.300000,-11.100000
25%,28.0,65.000000,2.000000,10.000000,2020.000000,3.000000,8.000000,1.000000,1.000000,1.000000,...,2.000000,1.900000,1.600000,1.300000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,28.0,79.000000,7.000000,81.000000,2020.000000,6.000000,16.000000,8.200000,7.300000,7.000000,...,15.700000,14.500000,14.000000,12.000000,11.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,28.0,79.000000,36.000000,86.000000,2020.000000,9.000000,23.000000,53.000000,50.000000,48.000000,...,77.000000,75.000000,68.000000,62.000000,57.000000,53.000000,56.000000,57.000000,57.000000,55.000000
max,28.0,180.000000,60.000000,89.000000,2021.000000,12.000000,31.000000,4166.000000,1152.000000,2208.000000,...,1268.000000,1034.000000,1021.000000,1079.000000,1100.000000,1366.000000,1538.000000,1359.000000,1100.000000,1097.000000

In [18]:
estaciones_c = pd.read_csv('../data/estaciones.csv')

In [19]:
estaciones_c

,CÓDIGO NACIONAL,CÓDIGO MUNICIPIO,NOMBRE ESTACIÓN,Unnamed: 3
0,28005002,5,ALCALÁ DE HENARES,NaN
1,28006004,6,ALCOBENDAS,NaN
2,28007004,7,ALCORCÓN,NaN
3,28009001,9,ALGETE,NaN
4,28013002,13,ARANJUEZ,NaN
5,28014002,14,ARGANDA DEL REY,NaN
6,28016001,16,EL ATAZAR,NaN
7,28045002,45,COLMENAR VIEJO,NaN
8,28047002,47,COLLADO VILLALBA,
9,28049003,49,COSLADA,NaN
10,28058004,58,FUENLABRADA,NaN
11,28065014,65,GETAFE,NaN
12,28067001,67,GUADALIX DE LA SIERRA,NaN
13,28074007,74,LEGANÉS,NaN
14,28080003,80,MAJADAHONDA,NaN
15,28092005,92,MÓSTOLES,NaN
16,28102001,102,ORUSCO DE TAJUÑA,NaN
17,28120001,120,PUERTO DE COTOS,NaN
18,28123002,123,RIVAS-VACIAMADRID,NaN
19,28133002,133,SAN MARTÍN DE VALDEIGLESIAS,NaN
20,28148004,148,TORREJÓN DE ARDOZ,NaN
21,28161001,161,VALDEMORO,NaN
22,28171001,171,VILLA DEL PRADO,NaN
23,28180001,180,VILLAREJO DE SALVANÉS,NaN

In [20]:
df_total['miDt']=pd.to_datetime(df_total[['year','month','day']])

In [21]:
df_total['miDt'][:2]

0   2020-01-01
1   2020-01-01
Name: miDt, dtype: datetime64[ns]

In [22]:
df_total.to_csv('../data/df_total.csv', index=False)

In [23]:
df_total["estacion"].unique()

array([ 1,  2,  4,  3, 14,  7,  5,  8, 11, 16, 17, 18, 24, 27, 35, 36, 38,
       39, 40, 47, 48, 49, 50, 54, 55, 56, 57, 58, 59, 60])

In [24]:
df_total["municipio"].unique()

array([102, 120, 123,  13, 133,  14, 148,  16, 161, 171, 180,  45,  47,
        49,   5,  58,   6,  65,  67,   7,  74,  80,   9,  92,  79])

In [25]:
len(df_total["estacion"].unique())

30

In [26]:
df_total["magnitud"].unique()

array([81, 82, 83, 86, 87, 88, 89,  1,  6,  7,  8, 12,  9, 10, 14, 20, 30,
       35, 42, 43, 44])

In [27]:
df_total["punto_muestreo"].unique()

array(['28102001_81_89', '28102001_82_89', '28102001_83_89',
       '28102001_86_89', '28102001_87_89', '28102001_88_89',
       '28102001_89_89', '28120001_81_89', '28120001_82_89',
       '28120001_83_89', '28120001_86_89', '28120001_87_89',
       '28120001_88_89', '28120001_89_89', '28123002_81_89',
       '28123002_82_89', '28123002_83_89', '28123002_86_89',
       '28123002_87_89', '28123002_88_89', '28123002_89_89',
       '28013002_81_89', '28013002_82_89', '28013002_83_89',
       '28013002_86_89', '28013002_87_89', '28013002_88_89',
       '28013002_89_89', '28133002_81_89', '28133002_82_89',
       '28133002_83_89', '28133002_86_89', '28133002_87_89',
       '28133002_88_89', '28133002_89_89', '28014002_81_89',
       '28014002_82_89', '28014002_83_89', '28014002_86_89',
       '28014002_87_89', '28014002_88_89', '28014002_89_89',
       '28148004_81_89', '28148004_82_89', '28148004_83_89',
       '28148004_86_89', '28148004_87_89', '28148004_88_89',
       '28148004_89_89', '28016001_81_89', '28016001_82_89',
       '28016001_83_89', '28016001_86_89', '28016001_87_89',
       '28016001_88_89', '28016001_89_89', '28161001_81_89',
       '28161001_82_89', '28161001_83_89', '28161001_86_89',
       '28161001_87_89', '28161001_88_89', '28161001_89_89',
       '28171001_81_89', '28171001_82_89', '28171001_83_89',
       '28171001_86_89', '28171001_87_89', '28171001_88_89',
       '28171001_89_89', '28180001_81_89', '28180001_82_89',
       '28180001_83_89', '28180001_86_89', '28180001_87_89',
       '28180001_88_89', '28180001_89_89', '28045002_81_89',
       '28045002_82_89', '28045002_83_89', '28045002_86_89',
       '28045002_87_89', '28045002_88_89', '28045002_89_89',
       '28047002_81_89', '28047002_82_89', '28047002_83_89',
       '28047002_86_89', '28047002_87_89', '28047002_88_89',
       '28047002_89_89', '28049003_81_89', '28049003_82_89',
       '28049003_83_89', '28049003_86_89', '28049003_87_89',
       '28049003_88_89', '28049003_89_89', '28005002_81_89',
       '28005002_82_89', '28005002_83_89', '28005002_86_89',
       '28005002_87_89', '28005002_88_89', '28005002_89_89',
       '28058004_81_89', '28058004_82_89', '28058004_83_89',
       '28058004_86_89', '28058004_87_89', '28058004_88_89',
       '28058004_89_89', '28006004_81_89', '28006004_82_89',
       '28006004_83_89', '28006004_86_89', '28006004_87_89',
       '28006004_88_89', '28006004_89_89', '28065014_81_89',
       '28065014_82_89', '28065014_83_89', '28065014_86_89',
       '28065014_87_89', '28065014_88_89', '28065014_89_89',
       '28067001_81_89', '28067001_82_89', '28067001_83_89',
       '28067001_86_89', '28067001_87_89', '28067001_88_89',
       '28067001_89_89', '28007004_81_89', '28007004_82_89',
       '28007004_83_89', '28007004_86_89', '28007004_87_89',
       '28007004_88_89', '28007004_89_89', '28074007_81_89',
       '28074007_82_89', '28074007_83_89', '28074007_86_89',
       '28074007_87_89', '28074007_88_89', '28074007_89_89',
       '28080003_81_89', '28080003_82_89', '28080003_83_89',
       '28080003_86_89', '28080003_87_89', '28080003_88_89',
       '28080003_89_89', '28009001_81_89', '28009001_82_89',
       '28009001_83_89', '28009001_86_89', '28009001_87_89',
       '28009001_88_89', '28009001_89_89', '28092005_81_89',
       '28092005_82_89', '28092005_83_89', '28092005_86_89',
       '28092005_87_89', '28092005_88_89', '28092005_89_89',
       '28079004_1_38', '28079004_6_48', '28079004_7_8', '28079004_8_8',
       '28079004_12_8', '28079008_1_38', '28079008_6_48', '28079008_7_8',
       '28079008_8_8', '28079008_9_47', '28079008_10_47', '28079008_12_8',
       '28079008_14_6', '28079008_20_59', '28079008_30_59',
       '28079008_35_59', '28079008_42_2', '28079008_43_2',
       '28079008_44_2', '28079011_7_8', '28079011_8_8', '28079011_12_8',
       '28079011_20_59', '28079011_30_59', '28079011_35_59',
       '28079016_6_48', '28079016_7_8', '28079016_8_8', '28079016_12_8',
       '28079016_14_6', '28079017_1_38', '28079017_7_8', '28079017_8_8',
       '28079017_12_8', '28079017_14_6', '28079018_1_38', '28079018_6_48',
       '28079018_7_8', '28079018_8_8', '28079018_10_47', '28079018_12_8',
       '28079018_14_6', '28079018_20_59', '28079018_30_59',
       '28079018_35_59', '28079024_1_38', '28079024_6_48', '28079024_7_8',
       '28079024_8_8', '28079024_9_47', '28079024_10_47', '28079024_12_8',
       '28079024_14_6', '28079024_20_59', '28079024_30_59',
       '28079024_35_59', '28079024_42_2', '28079024_43_2',
       '28079024_44_2', '28079027_7_8', '28079027_8_8', '28079027_12_8',
       '28079027_14_6', '28079035_1_38', '28079035_6_48', '28079035_7_8',
       '28079035_8_8', '28079035_12_8', '28079035_14_6', '28079036_1_38',
       '28079036_6_48', '28079036_7_8', '28079036_8_8', '28079036_10_47',
       '28079036_12_8', '28079038_1_38', '28079038_7_8', '28079038_8_8',
       '28079038_9_47', '28079038_10_47', '28079038_12_8',
       '28079038_20_59', '28079038_30_59', '28079038_35_59',
       '28079039_6_48', '28079039_7_8', '28079039_8_8', '28079039_12_8',
       '28079039_14_6', '28079040_1_38', '28079040_7_8', '28079040_8_8',
       '28079040_10_47', '28079040_12_8', '28079047_7_8', '28079047_8_8',
       '28079047_9_47', '28079047_10_47', '28079047_12_8', '28079048_7_8',
       '28079048_8_8', '28079048_9_47', '28079048_10_47', '28079048_12_8',
       '28079049_7_8', '28079049_8_8', '28079049_12_8', '28079049_14_6',
       '28079050_7_8', '28079050_8_8', '28079050_9_47', '28079050_10_47',
       '28079050_12_8', '28079054_7_8', '28079054_8_8', '28079054_12_8',
       '28079054_14_6', '28079055_7_8', '28079055_8_8', '28079055_10_47',
       '28079055_12_8', '28079055_20_59', '28079055_30_59',
       '28079055_35_59', '28079055_42_2', '28079055_43_2',
       '28079055_44_2', '28079056_6_48', '28079056_7_8', '28079056_8_8',
       '28079056_9_47', '28079056_10_47', '28079056_12_8',
       '28079056_14_6', '28079057_1_38', '28079057_6_48', '28079057_7_8',
       '28079057_8_8', '28079057_10_47', '28079057_12_8', '28079058_7_8',
       '28079058_8_8', '28079058_12_8', '28079058_14_6', '28079059_7_8',
       '28079059_8_8', '28079059_12_8', '28079059_14_6', '28079060_7_8',
       '28079060_8_8', '28079060_10_47', '28079060_12_8', '28079060_14_6'],
      dtype=object)

In [28]:
df_total.loc['2020-07-18']

KeyError: '2020-07-18'

In [ ]:
df_total[df_total["estacion"]==1 & df_total["magnitud"] == 81]