# Comunida de madrid

In [1]:
import pandas as pd
import sys
import os
import glob
sys.path.append('../src')
import cargadata as cdat
import datetime
import seaborn as sns
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import plotly.express as px
import plotly.graph_objects as go

In [2]:
contenido = os.listdir('../data/')
contenido

['1_am_ca',
 '2020_meteorologia_cm.zip',
 '2021_meteorologia_cm.zip',
 '2_cm_ca',
 'calidad_aire_estaciones.csv',
 'descripcion-fichero-open-data-meteorologico.pdf',
 'informacion_estaciones_red_calidad_aire__ayunta.csv',
 'informacion_estaciones_red_calidad_aire__ayunta.geo',
 'zonas_calidad_aire']

In [3]:
con_a2021 = os.listdir('../data/2_cm_ca/2020')
con_a2021

['2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv']

In [4]:
df = pd.read_csv('../data/2_cm_ca/2020/2020_01.csv', sep = ';')

Exploramos el data set suelto

In [5]:
df.head(10)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2020,1,1,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
1,28,102,1,6,28102001_6_48,2020,1,1,0.3,V,...,0.4,V,0.4,V,0.4,V,0.4,V,0.4,V
2,28,102,1,7,28102001_7_8,2020,1,1,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
3,28,102,1,8,28102001_8_8,2020,1,1,8.0,V,...,8.0,V,8.0,V,9.0,V,10.0,V,8.0,V
4,28,102,1,10,28102001_10_49,2020,1,1,8.0,V,...,16.0,V,16.0,V,17.0,V,17.0,V,17.0,V
5,28,102,1,12,28102001_12_8,2020,1,1,10.0,V,...,10.0,V,10.0,V,11.0,V,12.0,V,10.0,V
6,28,102,1,14,28102001_14_6,2020,1,1,39.0,V,...,52.0,V,50.0,V,42.0,V,41.0,V,39.0,V
7,28,120,1,7,28120001_7_8,2020,1,1,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
8,28,120,1,8,28120001_8_8,2020,1,1,2.0,V,...,2.0,V,2.0,V,2.0,V,2.0,V,2.0,V
9,28,120,1,9,28120001_9_49,2020,1,1,8.0,V,...,1.0,V,1.0,V,2.0,V,2.0,V,1.0,V

Vamos a gestionara los datos marcados como no válidos. si son no validos los voy a igualar al anterior si válido

In [6]:
df[f'v01'].value_counts()

V    4923
N      37
Name: v01, dtype: int64

Pacece que cada columna suel tener alrederor de 20 valores así

Primero voy a convertir estos valores en Nan;

In [7]:
horas = ['01', '02','03','04','05', '06', '07', '08', '09', '10', '11', '12',
         '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']

In [8]:
columns_names = ['provincia', 'municipio', 'estacion', 'magnitud', 'punto_muestreo',
       'year', 'month', 'day', 'h01', 'v01', 'h02', 'v02', 'h03', 'v03', 'h04',
       'v04', 'h05', 'v05', 'h06', 'v06', 'h07', 'v07', 'h08', 'v08', 'h09',
       'v09', 'h10', 'v10', 'h11', 'v11', 'h12', 'v12', 'h13', 'v13', 'h14',
       'v14', 'h15', 'v15', 'h16', 'v16', 'h17', 'v17', 'h18', 'v18', 'h19',
       'v19', 'h20', 'v20', 'h21', 'v21', 'h22', 'v22', 'h23', 'v23', 'h24',
       'v24']

paso a minusculas las colunas

In [9]:
df.set_axis(columns_names, axis='columns', inplace=True)

In [10]:
df.sample(20)

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
1066,28,58,4,20,28058004_20_59,2020,1,7,4.9,V,...,9.9,V,4.9,V,4.5,V,5.6,V,8.2,V
400,28,47,2,12,28047002_12_8,2020,1,3,234.0,V,...,160.0,V,236.0,V,199.0,V,237.0,V,210.0,V
4686,28,16,1,14,28016001_14_6,2020,1,30,46.0,V,...,47.0,V,42.0,V,42.0,V,41.0,V,40.0,V
2539,28,74,7,9,28074007_9_49,2020,1,16,34.0,V,...,13.0,V,12.0,V,21.0,V,21.0,V,19.0,V
3419,28,171,1,7,28171001_7_8,2020,1,22,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
2268,28,14,2,7,28014002_7_8,2020,1,15,51.0,V,...,54.0,V,61.0,V,50.0,V,49.0,V,54.0,V
316,28,92,5,8,28092005_8_8,2020,1,2,49.0,V,...,56.0,V,61.0,V,78.0,V,62.0,V,48.0,V
2462,28,171,1,10,28171001_10_49,2020,1,16,39.0,V,...,26.0,V,18.0,V,14.0,V,23.0,V,25.0,V
726,28,47,2,431,28047002_431_59,2020,1,5,0.1,V,...,0.1,V,0.1,V,0.1,V,0.1,V,0.1,V
1191,28,45,2,7,28045002_7_8,2020,1,8,3.0,V,...,41.0,V,63.0,V,45.0,V,18.0,V,11.0,V
1603,28,102,1,8,28102001_8_8,2020,1,11,3.0,V,...,11.0,V,10.0,V,11.0,V,10.0,V,11.0,V
3210,28,120,1,10,28120001_10_49,2020,1,21,1.0,V,...,1.0,V,1.0,V,1.0,V,3.0,V,2.0,V
427,28,58,4,30,28058004_30_59,2020,1,3,1.7,V,...,1.9,V,1.9,V,2.3,V,2.5,V,2.5,V
1924,28,102,1,10,28102001_10_49,2020,1,13,18.0,V,...,14.0,V,18.0,V,17.0,V,18.0,V,18.0,V
2039,28,6,4,44,28006004_44_2,2020,1,13,0.5,V,...,0.3,V,0.2,V,0.3,V,0.4,V,0.3,V
2430,28,14,2,10,28014002_10_49,2020,1,16,66.0,V,...,25.0,V,22.0,V,16.0,V,21.0,V,15.0,V
78,28,47,2,8,28047002_8_8,2020,1,1,55.0,V,...,81.0,V,84.0,V,65.0,V,61.0,V,50.0,V
4492,28,120,1,14,28120001_14_6,2020,1,29,83.0,V,...,80.0,V,81.0,V,79.0,V,76.0,V,85.0,V
2490,28,49,3,10,28049003_10_49,2020,1,16,43.0,V,...,90.0,V,39.0,V,56.0,V,4.0,V,12.0,V
3085,28,16,1,12,28016001_12_8,2020,1,20,3.0,V,...,11.0,V,12.0,V,9.0,V,13.0,V,14.0,V

In [11]:
df['estacion'].unique()

array([ 1,  2,  4,  3, 14,  7,  5])

In [12]:
df['municipio'].unique()

array([102, 120, 123,  13, 133,  14, 148,  16, 161, 171, 180,  45,  47,
        49,   5,  58,   6,  65,  67,   7,  74,  80,   9,  92])

In [13]:
len(df['municipio'].unique())

24

In [14]:
df['magnitud'].unique()

array([  1,   6,   7,   8,  10,  12,  14,   9,  20,  30,  42,  44, 431])

# Aqui hacer bucle para comunidad  y ayunta

In [15]:
lista_dropeos = [22, 35, 37, 38, 39, 431]

In [16]:
for i in lista_dropeos:
    indexNames = df[ df['magnitud'] == i ].index
    df.drop(indexNames , inplace=True)

In [17]:
df['magnitud'].unique()

array([ 1,  6,  7,  8, 10, 12, 14,  9, 20, 30, 42, 44])

Aplico la magia de Ester😸🐈🐅🐆🐅 a todas mis columnas

In [18]:
for hora in horas:
    df[f'h{hora}'] = np.where(df[f'v{hora}']=='N', np.nan, df[f'h{hora}'])

Compruebo que efectivamente se ha puesto los nan donde corresponde.

In [19]:
for hora in horas:
    print(f'NaN en columna v{hora} =' ,df[f'v{hora}'].value_counts()[1],f'------->valores nan en la columna h{hora} =',df[f'h{hora}'].isna().sum())
    print()

NaN en columna v01 = 35 ------->valores nan en la columna h01 = 35

NaN en columna v02 = 35 ------->valores nan en la columna h02 = 35

NaN en columna v03 = 34 ------->valores nan en la columna h03 = 34

NaN en columna v04 = 36 ------->valores nan en la columna h04 = 36

NaN en columna v05 = 35 ------->valores nan en la columna h05 = 35

NaN en columna v06 = 41 ------->valores nan en la columna h06 = 41

NaN en columna v07 = 118 ------->valores nan en la columna h07 = 118

NaN en columna v08 = 151 ------->valores nan en la columna h08 = 151

NaN en columna v09 = 141 ------->valores nan en la columna h09 = 141

NaN en columna v10 = 177 ------->valores nan en la columna h10 = 177

NaN en columna v11 = 194 ------->valores nan en la columna h11 = 194

NaN en columna v12 = 199 ------->valores nan en la columna h12 = 199

NaN en columna v13 = 180 ------->valores nan en la columna h13 = 180

NaN en columna v14 = 134 ------->valores nan en la columna h14 = 134

NaN en columna v15 = 89 ------->valores nan en la columna h15 = 89

NaN en columna v16 = 74 ------->valores nan en la columna h16 = 74

NaN en columna v17 = 42 ------->valores nan en la columna h17 = 42

NaN en columna v18 = 36 ------->valores nan en la columna h18 = 36

NaN en columna v19 = 30 ------->valores nan en la columna h19 = 30

NaN en columna v20 = 28 ------->valores nan en la columna h20 = 28

NaN en columna v21 = 27 ------->valores nan en la columna h21 = 27

NaN en columna v22 = 29 ------->valores nan en la columna h22 = 29

NaN en columna v23 = 27 ------->valores nan en la columna h23 = 27

NaN en columna v24 = 34 ------->valores nan en la columna h24 = 34

In [20]:
df.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
2903,28,133,2,7,28133002_7_8,2020,1,19,1.0,V,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V

Dropeo las columnas de verificacion

In [21]:
li_v = []
for hora in horas:
    li_v.append(f'v{hora}')    
li_v

['v01',
 'v02',
 'v03',
 'v04',
 'v05',
 'v06',
 'v07',
 'v08',
 'v09',
 'v10',
 'v11',
 'v12',
 'v13',
 'v14',
 'v15',
 'v16',
 'v17',
 'v18',
 'v19',
 'v20',
 'v21',
 'v22',
 'v23',
 'v24']

In [22]:
df.drop(li_v, axis = 1, inplace=True)

In [23]:
df.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,h01,h02,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
1345,28,180,1,7,28180001_7_8,2020,1,9,2.0,1.0,...,2.0,2.0,3.0,4.0,9.0,4.0,3.0,3.0,3.0,3.0

Aplico el valor anterior inmediatamente válido con un método de propagacion de ffill

In [24]:
for hora in horas:
    print(df[f'h{hora}'].isna().sum())

35
35
34
36
35
41
118
151
141
177
194
199
180
134
89
74
42
36
30
28
27
29
27
34

In [25]:
df.fillna(method='ffill', inplace=True)

In [26]:
for hora in horas:
    print(df[f'h{hora}'].isna().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [27]:
df.magnitud.unique()

array([ 1,  6,  7,  8, 10, 12, 14,  9, 20, 30, 42, 44])

In [28]:
len(df.magnitud.unique())

12

In [29]:
len(df.estacion.unique())

7

In [30]:
4693 * 24

112632

In [31]:
li_h = []
for hora in horas:
    li_h.append(f'h{hora}')  
li_h

['h01',
 'h02',
 'h03',
 'h04',
 'h05',
 'h06',
 'h07',
 'h08',
 'h09',
 'h10',
 'h11',
 'h12',
 'h13',
 'h14',
 'h15',
 'h16',
 'h17',
 'h18',
 'h19',
 'h20',
 'h21',
 'h22',
 'h23',
 'h24']

In [32]:
df.columns

Index(['provincia', 'municipio', 'estacion', 'magnitud', 'punto_muestreo',
       'year', 'month', 'day', 'h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07',
       'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17',
       'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24'],
      dtype='object')

In [33]:
df_melt = df.melt(['provincia', 'municipio', 'estacion', 'magnitud', 'punto_muestreo',
       'year', 'month', 'day']) 
df_melt.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,variable,value
80970,28,102,1,14,28102001_14_6,2020,1,24,h17,54.0

In [34]:
df_melt.rename(columns = {'variable':'hour'}, inplace = True)

In [35]:
df_melt.head(10)

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,hour,value
0,28,102,1,1,28102001_1_38,2020,1,1,h01,1.0
1,28,102,1,6,28102001_6_48,2020,1,1,h01,0.3
2,28,102,1,7,28102001_7_8,2020,1,1,h01,1.0
3,28,102,1,8,28102001_8_8,2020,1,1,h01,8.0
4,28,102,1,10,28102001_10_49,2020,1,1,h01,8.0
5,28,102,1,12,28102001_12_8,2020,1,1,h01,10.0
6,28,102,1,14,28102001_14_6,2020,1,1,h01,39.0
7,28,120,1,7,28120001_7_8,2020,1,1,h01,1.0
8,28,120,1,8,28120001_8_8,2020,1,1,h01,2.0
9,28,120,1,9,28120001_9_49,2020,1,1,h01,8.0

In [36]:
li_h;

In [37]:
horas = [int(x[1:]) for x in li_h]
horas;

In [38]:
dic_horas = dict(zip(li_h, horas))

In [39]:
dic_horas

{'h01': 1,
 'h02': 2,
 'h03': 3,
 'h04': 4,
 'h05': 5,
 'h06': 6,
 'h07': 7,
 'h08': 8,
 'h09': 9,
 'h10': 10,
 'h11': 11,
 'h12': 12,
 'h13': 13,
 'h14': 14,
 'h15': 15,
 'h16': 16,
 'h17': 17,
 'h18': 18,
 'h19': 19,
 'h20': 20,
 'h21': 21,
 'h22': 22,
 'h23': 23,
 'h24': 24}

In [40]:
df_melt['hour']= df_melt['hour'].map(dic_horas)

In [41]:
df_melt.tail()

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,hour,value
116059,28,92,5,7,28092005_7_8,2020,1,31,24,1.0
116060,28,92,5,8,28092005_8_8,2020,1,31,24,6.0
116061,28,92,5,10,28092005_10_49,2020,1,31,24,10.0
116062,28,92,5,12,28092005_12_8,2020,1,31,24,8.0
116063,28,92,5,14,28092005_14_6,2020,1,31,24,46.0

In [42]:
df_melt['miDt']=pd.to_datetime(df_melt[['year','month','day','hour']])

In [43]:
df_melt.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,hour,value,miDt
40343,28,5,2,9,28005002_9_49,2020,1,11,9,9.0,2020-01-11 09:00:00

In [44]:
df_melt['municipio_estacion'] =  df_melt['municipio'].astype(str)+'_'+df_melt['estacion'].astype(str)

In [45]:
df_melt.sample()

,provincia,municipio,estacion,magnitud,punto_muestreo,year,month,day,hour,value,miDt,municipio_estacion
64298,28,133,2,12,28133002_12_8,2020,1,10,14,6.0,2020-01-10 14:00:00,133_2

In [46]:
df_melt['municipio_estacion'].unique()

array(['102_1', '120_1', '123_2', '13_2', '133_2', '14_2', '148_4',
       '16_1', '161_1', '171_1', '180_1', '45_2', '47_2', '49_3', '5_2',
       '58_4', '6_4', '65_14', '67_1', '7_4', '74_7', '80_3', '9_1',
       '92_5'], dtype=object)

In [47]:
len(df_melt['municipio_estacion'].unique())

24

In [48]:
df_melt.drop(['provincia','year','month','day','hour', 'punto_muestreo', 'municipio', 'estacion'], axis = 1, inplace=True)

In [49]:
df_melt.sample()

       magnitud  value                miDt municipio_estacion
44756         8   47.0 2020-01-08 10:00:00               80_3

In [50]:
df_melt = df_melt.iloc[:,[2,3,0,1]]

In [51]:
df_melt.head(5)

                 miDt municipio_estacion  magnitud  value
0 2020-01-01 01:00:00              102_1         1    1.0
1 2020-01-01 01:00:00              102_1         6    0.3
2 2020-01-01 01:00:00              102_1         7    1.0
3 2020-01-01 01:00:00              102_1         8    8.0
4 2020-01-01 01:00:00              102_1        10    8.0

In [52]:
df_melt['magnitud'].unique()

array([ 1,  6,  7,  8, 10, 12, 14,  9, 20, 30, 42, 44])

In [53]:
df_melt['municipio_estacion'].unique()

array(['102_1', '120_1', '123_2', '13_2', '133_2', '14_2', '148_4',
       '16_1', '161_1', '171_1', '180_1', '45_2', '47_2', '49_3', '5_2',
       '58_4', '6_4', '65_14', '67_1', '7_4', '74_7', '80_3', '9_1',
       '92_5'], dtype=object)

In [54]:
len(df_melt['municipio_estacion'].unique())

24

In [55]:
df_total = pd.pivot_table(data=df_melt,
               index=['miDt', 'municipio_estacion'],
               columns=['magnitud']
              )

In [56]:
df_total.head(30)

                                       value                                   \
magnitud                                  1    6      7      8      9      10
miDt                municipio_estacion
2020-01-01 01:00:00 102_1                1.0  0.3    1.0    8.0    NaN    8.0
                    120_1                NaN  NaN    1.0    2.0    8.0    2.0
                    123_2                NaN  NaN  111.0   54.0    NaN   97.0
                    133_2                NaN  NaN   15.0   25.0    NaN   50.0
                    13_2                 NaN  NaN   12.0   15.0    NaN   38.0
                    148_4                NaN  NaN   48.0   42.0   42.0   42.0
                    14_2                 NaN  NaN   30.0   25.0    NaN   62.0
                    161_1                NaN  NaN   98.0   31.0  107.0    NaN
                    16_1                 1.0  0.5    1.0    5.0    1.0    1.0
                    171_1                1.0  0.8    1.0   16.0   17.0   23.0
                    180_1                NaN  NaN  101.0   38.0   95.0    NaN
                    45_2                 NaN  1.5  179.0  103.0    NaN   68.0
                    47_2                 4.0  NaN  145.0   55.0   79.0    NaN
                    49_3                 NaN  NaN    0.1    0.1    0.1    0.1
                    58_4                 NaN  NaN  141.0   85.0    NaN   85.0
                    5_2                  1.0  0.9  100.0   47.0   46.0   74.0
                    65_14                NaN  NaN  273.0   82.0   82.0  272.0
                    67_1                 NaN  NaN   25.0   27.0    NaN   25.0
                    6_4                  NaN  NaN  135.0   58.0    NaN   64.0
                    74_7                 NaN  NaN  189.0   69.0   53.0   73.0
                    7_4                  NaN  NaN  137.0   59.0  264.0    NaN
                    80_3                 NaN  NaN   68.0   67.0    NaN   53.0
                    92_5                 2.0  1.1   97.0   47.0    NaN  125.0
                    9_1                  NaN  NaN   17.0   26.0   36.0    NaN
2020-01-01 02:00:00 102_1                1.0  0.3    1.0    8.0    NaN   15.0
                    120_1                NaN  NaN    1.0    2.0    3.0    4.0
                    123_2                NaN  NaN  122.0   48.0    NaN   90.0
                    133_2                NaN  NaN    6.0   20.0    NaN   43.0
                    13_2                 NaN  NaN    5.0   11.0    NaN   33.0
                    148_4                NaN  NaN   50.0   41.0   41.0   41.0


magnitud                                   12    14    20   30   42   44
miDt                municipio_estacion
2020-01-01 01:00:00 102_1                10.0  39.0   NaN  NaN  NaN  NaN
                    120_1                 4.0  82.0   NaN  NaN  NaN  NaN
                    123_2               224.0   5.0   NaN  NaN  NaN  NaN
                    133_2                47.0   5.0   NaN  NaN  NaN  NaN
                    13_2                 33.0   2.0   NaN  NaN  NaN  NaN
                    148_4               115.0   5.0   NaN  NaN  NaN  NaN
                    14_2                 71.0   2.0   NaN  NaN  NaN  NaN
                    161_1               181.0   3.0   NaN  NaN  NaN  NaN
                    16_1                  7.0  63.0   0.1  0.2  1.3  0.1
                    171_1                18.0   2.0   NaN  NaN  NaN  NaN
                    180_1               194.0   2.0   NaN  NaN  NaN  NaN
                    45_2                378.0   2.0   NaN  NaN  NaN  NaN
                    47_2                277.0   4.0   7.0  4.6  1.7  0.1
                    49_3                  0.1   0.1   NaN  NaN  NaN  NaN
                    58_4                301.0   3.0   5.7  3.1  1.9  0.3
                    5_2                 199.0   1.0   NaN  NaN  NaN  NaN
                    65_14               501.0   3.0   NaN  NaN  NaN  NaN
                    67_1                 65.0   6.0   NaN  NaN  NaN  NaN
                    6_4                 264.0   3.0  15.1  2.5  2.3  0.4
                    74_7                359.0   1.0   NaN  NaN  NaN  NaN
                    7_4                 268.0   1.0   NaN  NaN  NaN  NaN
                    80_3                172.0   1.0   NaN  NaN  NaN  NaN
                    92_5                195.0   5.0   NaN  NaN  NaN  NaN
                    9_1                  52.0   8.0   NaN  NaN  NaN  NaN
2020-01-01 02:00:00 102_1                10.0  39.0   NaN  NaN  NaN  NaN
                    120_1                 4.0  80.0   NaN  NaN  NaN  NaN
                    123_2               235.0   5.0   NaN  NaN  NaN  NaN
                    133_2                29.0   9.0   NaN  NaN  NaN  NaN
                    13_2                 19.0   3.0   NaN  NaN  NaN  NaN
                    148_4               117.0   4.0   NaN  NaN  NaN  NaN

In [57]:
df_total.index.get_level_values(0)

DatetimeIndex(['2020-01-01 01:00:00', '2020-01-01 01:00:00',
               '2020-01-01 01:00:00', '2020-01-01 01:00:00',
               '2020-01-01 01:00:00', '2020-01-01 01:00:00',
               '2020-01-01 01:00:00', '2020-01-01 01:00:00',
               '2020-01-01 01:00:00', '2020-01-01 01:00:00',
               ...
               '2020-02-01 00:00:00', '2020-02-01 00:00:00',
               '2020-02-01 00:00:00', '2020-02-01 00:00:00',
               '2020-02-01 00:00:00', '2020-02-01 00:00:00',
               '2020-02-01 00:00:00', '2020-02-01 00:00:00',
               '2020-02-01 00:00:00', '2020-02-01 00:00:00'],
              dtype='datetime64[ns]', name='miDt', length=17856, freq=None)

In [58]:
f= pd.infer_freq(df_total.index.get_level_values(0))
f

In [59]:
df_total.reset_index(inplace=True)

In [60]:
df_total

                        miDt municipio_estacion value                          \
magnitud                                            1    6      7     8     9
0        2020-01-01 01:00:00              102_1   1.0  0.3    1.0   8.0   NaN
1        2020-01-01 01:00:00              120_1   NaN  NaN    1.0   2.0   8.0
2        2020-01-01 01:00:00              123_2   NaN  NaN  111.0  54.0   NaN
3        2020-01-01 01:00:00              133_2   NaN  NaN   15.0  25.0   NaN
4        2020-01-01 01:00:00               13_2   NaN  NaN   12.0  15.0   NaN
...                      ...                ...   ...  ...    ...   ...   ...
17851    2020-02-01 00:00:00               74_7   NaN  NaN    1.0  13.0  11.0
17852    2020-02-01 00:00:00                7_4   NaN  NaN    1.0   5.0   9.0
17853    2020-02-01 00:00:00               80_3   NaN  NaN    1.0   9.0   NaN
17854    2020-02-01 00:00:00               92_5   1.0  0.7    1.0   6.0   NaN
17855    2020-02-01 00:00:00                9_1   NaN  NaN    1.0  31.0  11.0


magnitud    10     12    14  20  30  42  44
0          8.0   10.0  39.0 NaN NaN NaN NaN
1          2.0    4.0  82.0 NaN NaN NaN NaN
2         97.0  224.0   5.0 NaN NaN NaN NaN
3         50.0   47.0   5.0 NaN NaN NaN NaN
4         38.0   33.0   2.0 NaN NaN NaN NaN
...        ...    ...   ...  ..  ..  ..  ..
17851     13.0   15.0  37.0 NaN NaN NaN NaN
17852      NaN    7.0  41.0 NaN NaN NaN NaN
17853      7.0   11.0  35.0 NaN NaN NaN NaN
17854     10.0    8.0  46.0 NaN NaN NaN NaN
17855      NaN   33.0  25.0 NaN NaN NaN NaN

[17856 rows x 14 columns]

In [61]:
multi_index = df_total.columns

In [62]:
multi_index

MultiIndex([(              'miDt', ''),
            ('municipio_estacion', ''),
            (             'value',  1),
            (             'value',  6),
            (             'value',  7),
            (             'value',  8),
            (             'value',  9),
            (             'value', 10),
            (             'value', 12),
            (             'value', 14),
            (             'value', 20),
            (             'value', 30),
            (             'value', 42),
            (             'value', 44)],
           names=[None, 'magnitud'])

In [63]:
multi_index.tolist()

[('miDt', ''),
 ('municipio_estacion', ''),
 ('value', 1),
 ('value', 6),
 ('value', 7),
 ('value', 8),
 ('value', 9),
 ('value', 10),
 ('value', 12),
 ('value', 14),
 ('value', 20),
 ('value', 30),
 ('value', 42),
 ('value', 44)]

In [64]:
new_index = pd.Index([e[0] + str(e[1]) for e in multi_index.tolist()])

In [65]:
new_index

Index(['miDt', 'municipio_estacion', 'value1', 'value6', 'value7', 'value8',
       'value9', 'value10', 'value12', 'value14', 'value20', 'value30',
       'value42', 'value44'],
      dtype='object')

In [66]:
df_total.columns = new_index

In [67]:
df_total

,miDt,municipio_estacion,value1,value6,value7,value8,value9,value10,value12,value14,value20,value30,value42,value44
0,2020-01-01 01:00:00,102_1,1.0,0.3,1.0,8.0,NaN,8.0,10.0,39.0,NaN,NaN,NaN,NaN
1,2020-01-01 01:00:00,120_1,NaN,NaN,1.0,2.0,8.0,2.0,4.0,82.0,NaN,NaN,NaN,NaN
2,2020-01-01 01:00:00,123_2,NaN,NaN,111.0,54.0,NaN,97.0,224.0,5.0,NaN,NaN,NaN,NaN
3,2020-01-01 01:00:00,133_2,NaN,NaN,15.0,25.0,NaN,50.0,47.0,5.0,NaN,NaN,NaN,NaN
4,2020-01-01 01:00:00,13_2,NaN,NaN,12.0,15.0,NaN,38.0,33.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17851,2020-02-01 00:00:00,74_7,NaN,NaN,1.0,13.0,11.0,13.0,15.0,37.0,NaN,NaN,NaN,NaN
17852,2020-02-01 00:00:00,7_4,NaN,NaN,1.0,5.0,9.0,NaN,7.0,41.0,NaN,NaN,NaN,NaN
17853,2020-02-01 00:00:00,80_3,NaN,NaN,1.0,9.0,NaN,7.0,11.0,35.0,NaN,NaN,NaN,NaN
17854,2020-02-01 00:00:00,92_5,1.0,0.7,1.0,6.0,NaN,10.0,8.0,46.0,NaN,NaN,NaN,NaN
17855,2020-02-01 00:00:00,9_1,NaN,NaN,1.0,31.0,11.0,NaN,33.0,25.0,NaN,NaN,NaN,NaN

In [68]:
df_total = df_total.set_index(df_total['miDt'])

In [69]:
df_total.drop(['miDt'], axis = 1, inplace=True)

In [70]:
df_total.fillna(0.0)

,municipio_estacion,value1,value6,value7,value8,value9,value10,value12,value14,value20,value30,value42,value44
miDt,,,,,,,,,,,,,
2020-01-01 01:00:00,102_1,1.0,0.3,1.0,8.0,0.0,8.0,10.0,39.0,0.0,0.0,0.0,0.0
2020-01-01 01:00:00,120_1,0.0,0.0,1.0,2.0,8.0,2.0,4.0,82.0,0.0,0.0,0.0,0.0
2020-01-01 01:00:00,123_2,0.0,0.0,111.0,54.0,0.0,97.0,224.0,5.0,0.0,0.0,0.0,0.0
2020-01-01 01:00:00,133_2,0.0,0.0,15.0,25.0,0.0,50.0,47.0,5.0,0.0,0.0,0.0,0.0
2020-01-01 01:00:00,13_2,0.0,0.0,12.0,15.0,0.0,38.0,33.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-01 00:00:00,74_7,0.0,0.0,1.0,13.0,11.0,13.0,15.0,37.0,0.0,0.0,0.0,0.0
2020-02-01 00:00:00,7_4,0.0,0.0,1.0,5.0,9.0,0.0,7.0,41.0,0.0,0.0,0.0,0.0
2020-02-01 00:00:00,80_3,0.0,0.0,1.0,9.0,0.0,7.0,11.0,35.0,0.0,0.0,0.0,0.0
2020-02-01 00:00:00,92_5,1.0,0.7,1.0,6.0,0.0,10.0,8.0,46.0,0.0,0.0,0.0,0.0
2020-02-01 00:00:00,9_1,0.0,0.0,1.0,31.0,11.0,0.0,33.0,25.0,0.0,0.0,0.0,0.0

In [72]:
df_total.unstack(level= 1, fill_value=None).head(20)

                    miDt
municipio_estacion  2020-01-01 01:00:00    102_1
                    2020-01-01 01:00:00    120_1
                    2020-01-01 01:00:00    123_2
                    2020-01-01 01:00:00    133_2
                    2020-01-01 01:00:00     13_2
                    2020-01-01 01:00:00    148_4
                    2020-01-01 01:00:00     14_2
                    2020-01-01 01:00:00    161_1
                    2020-01-01 01:00:00     16_1
                    2020-01-01 01:00:00    171_1
                    2020-01-01 01:00:00    180_1
                    2020-01-01 01:00:00     45_2
                    2020-01-01 01:00:00     47_2
                    2020-01-01 01:00:00     49_3
                    2020-01-01 01:00:00     58_4
                    2020-01-01 01:00:00      5_2
                    2020-01-01 01:00:00    65_14
                    2020-01-01 01:00:00     67_1
                    2020-01-01 01:00:00      6_4
                    2020-01-01 01:00:00     74_7
dtype: object

In [ ]:
df_estacion1 =df_total.group_by(df_tota['estacion']== 1)